<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Orders</title>
  <link rel="stylesheet" href="/css/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
	<div class="container">
		<h1>Create order</h1>

		<form th:action="@{/orders}" class="form" method="post">
			<select class="form-control" name="tableId" >
				<option value="0">select table</option>
				<option th:each="table : ${tables}" th:value="${table.id}" th:text="${table.tableNumber}"></option>
			</select>
			<button  type="submit">Create</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../static/js/login.js"></script>

</body>
</html>
